In [43]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [4]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.19/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\tpatel\.wdm\drivers\chromedriver\win32\91.0.4472.19]

In [5]:
# Website to Scrape data
url = 'https://redplanetscience.com/'
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# NASA Mars News
Scrape the Mars News Site and collect the latest News Title and Paragraph Text to be referenced later.

In [19]:
# Scrape the site to find all news titles
titles = soup.find_all('div', class_='content_title')
news_title = []
for title in titles:
    news_title.append(title.text)

news_title

["Mars InSight Lander to Push on Top of the 'Mole'",
 "Follow NASA's Perseverance Rover in Real Time on Its Way to Mars",
 'MOXIE Could Help Future Rockets Launch Off Mars',
 "The Detective Aboard NASA's Perseverance Rover",
 'Global Storms on Mars Launch Dust Towers Into the Sky',
 "NASA-JPL Names 'Rolling Stones Rock' on Mars",
 "NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet",
 "NASA's Perseverance Mars Rover Gets Balanced",
 'NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet',
 "All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover",
 'NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network',
 "What's Mars Solar Conjunction, and Why Does It Matter?",
 "NASA's Mars Reconnaissance Orbiter Undergoes Memory Update",
 'Naming a NASA Mars Rover Can Change Your Life',
 'Space History Is Made in This NASA Robot Factory']

In [28]:
# Scrape the site to find all news paragraphs
paragraphs = soup.find_all('div', class_='article_teaser_body')
news_p = []
for paragraph in paragraphs:
    news_p.append(paragraph.text)

news_p

[]

# JPL Mars Space Images - Featured Image
Visit the specified URL, use splinter to navigate the site and find the image url fo rhte current Featured Mars Image.

In [22]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [40]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Retrieve image url
div_data=soup.find_all('div', class_='floating_text_area')

# Go through data and find the image href
for div in div_data:
    image_url = div.find('a')['href']

# Join the url with image_url to create the fully qualified image_url to be used
featured_image_url = url + image_url

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

# Mars Facts
Visit the specified URL, scrape the table containing facts about the planet, includign Diameter, Mass etc. Use Pandas to convert the data to a HTML table string

In [41]:
url = 'https://galaxyfacts-mars.com/'

In [44]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [47]:
df = tables[1]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [48]:
df=df.rename(columns={0:"Mars Profile",1:"Details"})
df.head()

           Mars Profile                        Details
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [49]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Profile</th>\n      <th>Details</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres
Visit the specified URL, click links in order to find the image url to the full res image. Save image url and title into a Python dictionary. Append the dicutionary with the image url string and the hemisphere title to a list. The list will contain one dictionary for each hemisphere.

In [ ]:
url='https://marshemispheres.com/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')